body, html {
    margin: 0;
    padding: 0;
    width: calc(100vw - 1px);
    height: calc(100vh - 1px);
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid rgba(96, 164, 173, 0.8);
    background: transparent;
}

#text-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0;
}

.text-fit-div {
    position: absolute;
    /* background: rgba(255, 255, 255, 0.8) */ /* Semi-transparent */
}

.collapsible_top_bar {
    max-height: 0;  /* IMPORTANT FOR THE TRANSITION */
    overflow: hidden;
    transition: max-height 0.3s ease;
}
.collapsible_top_bar.expand {
     max-height: 28px;  /* IMPORTANT FOR THE TRANSITION */
}

.top_bar_row {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    /*background-color: rgba(65, 234, 212, 0.7) ; */
    background-color: rgba(96, 164, 173, 0.8);
    border-radius: 15px;
    padding: 3px 3px 3px 3px; /* top | right | bottom | left */
    color: black;
    flex-wrap: nowrap;
}

.top_bar_button {
    color: inherit;
    text-decoration: inherit;
    cursor: inherit;
    border: none;
    padding: 1px 5px;
    /* width: 55px; */
    /* height: 55px; */
    font-size: 13px;
    border-radius: 15px;
}
.top_bar_button img {
    width: 16px;
    height: 16px;
    /* filter: invert(100%); */ /* Change the black svg to white */
}

.top_bar_button span {
    white-space: nowrap;
    margin-left: 5px; /* Space out the text from the icon */
}

.top_bar_button:hover {
    color: inherit;
    text-decoration: inherit;
    background-color: rgba(1, 22, 39, 0.2) ;
}
.top_bar_button:active {
    color: inherit;
    text-decoration: inherit;
    background-color: rgba(1, 22, 39, 0.4) ;
}
.top_bar_button:focus {
    color: inherit;
    text-decoration: inherit;
}
.smaller_top_bar_button img {
    width: 10px;
    height: 10px;
    /* filter: invert(100%); */ /* Change the black svg to white */
}

.windowDragButton {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

#parametersModal {
    background-color: #fefefe;
    padding: 20px; /* Padding around the content */
    border: 1px solid #888;
    border-radius: 5px;
    flex-direction: column;
}

.params-left-column {
    width: 100px;
    text-align: right;
    padding: 0;
}
.params-right-column {
    flex-grow: 1;
    padding: 0 10px 0 10px; /* top | right | bottom | left */
}

.bounding_box_label {
    position: absolute;
    top: -15px;
    left: -1px;
    height: 15px;
    font-size: 12px;
    background-color: red;
    text-align: left;
}